@charset "utf-8";
/* CSS Document */
/* Corrinne Schultze */
/* Last updated Dec 2013 */

@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('../fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}



body {
	background-color: #98BEBB;
	margin: 0px;
}
ul {
	list-style-type: none;
	margin-top: 15px;	
	padding: 0;
}
.navlink { /* Changes color of nav links when clicked on w/ Jquery */
	color: #E6E63C !important; /* overrides other css */
}
.redbox{ /* red box around error boxes in contact form */
	border: 2px #f00 solid;
}



/* Header and navigation ---------------------------- */
	div#header{
		height: 75px;
		width: 100%;
		position: fixed;
		background: #98BEBB;
		z-index: 2;
	}
		.shadow {
			box-shadow: 0px 5px 5px #87A4A5;
		}
	div#wrapper {
		width: 960px;
		margin: 0 auto;
	}
		h1 {
			font-family: 'League Gothic';
			color: #EBFFF4;
			font-size: 60px;
			text-decoration: none;
			font-weight: normal;
			display: inline-block;
			margin-top: 0px;
			margin-left: 60px;
			margin-right: 50px;
			background: url("../img/header.png") right center no-repeat;
			padding-right: 40px;
		}
	
		ul#navbar {
			list-style-type: none;
			margin-top: 15px;	
			padding: 0;
			display: inline-block;
		}
			ul#navbar li {
				margin-right: 15px;
				display: inline-block;
			}
			ul#navbar a:hover{
				color: #2B7880;
			}
		#navbar .nav {
			color: #EBFFF4;
			display: inline-block;
			font-family: 'League Gothic', Arial, Helvetica, sans-serif;
			font-size: 32px;
			text-decoration: none;
			padding-left: 35px;
		}



div#container{
	height: 3450px;
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	/* border: 2px solid #91222F; */
}
	
	
	
	/* main content area ------------------------------ */
	div#main {
		width: 960px;
		margin-left: auto;
		margin-right: auto;
		/* border: 2px solid #91222F; */
	}
		h2 {
			font-family: 'League Gothic';
			color: #EBFFF4;
			font-size: 40px;
			text-decoration: none;
			font-weight: normal;
			margin-left: 70px;
			margin-top: -20px;
			display: inline-block;
		}
		p {
			font-family: 'Open Sans', Arial, Helvetica, sans-serif;
			color: #2B7880;
			font-size: 16px;
			margin-left: 100px;
			margin-right: 100px;
		}
		a {
			color: #EBFFF4;
		}
		
		
		/* Home elements ------------------------------------- */
		div#home {
			margin-bottom: 500px;
			padding-top: 120px;
		}
			h2.welcome {
				background: url("../img/welcome.png") right center no-repeat;
				padding-right: 40px;
			}
			#welcthumbs {
				height: 120px;
				width: 410px;
				margin: 50px auto 0 auto;
			}
			#welcthumbs li {
				display: inline-block;
				margin: 10px 5px;
			}
			.welc {
				border-radius: 65px;
				margin-left: 5px;
				margin-right: 5px;
			}
			p#welcp {
				margin-right: 150px;
				margin-left: 150px;
			}
		
		
		/* Portfolio elements ----------------------------------- */
		div#portfolio {
			margin-bottom: 400px;
		}
			h3 {
				font-family: 'League Gothic';
				color: #EBFFF4;
				font-size: 32px;
				text-decoration: none;
				font-weight: normal;
				margin-left: 100px;
				margin-top: -20px;
				display: inline-block;
			}
			h2.portfolio {
				background: url("../img/portfolio.png") right center no-repeat;
				padding-right: 40px;
			}
			.control {
				display: block;
				width: 28px;
				height: 28px;
				margin-top: 95px;
				text-indent: -10000px;
				position: absolute;
				cursor: pointer;
			}
			.control2 {
				display: block;
				width: 28px;
				height: 28px;
				margin-top: 95px;
				text-indent: -10000px;
				position: absolute;
				cursor: pointer;
			}
			.control3 {
				display: block;
				width: 28px;
				height: 28px;
				margin-top: 95px;
				text-indent: -10000px;
				position: absolute;
				cursor: pointer;
			}
			.control4 {
				display: block;
				width: 28px;
				height: 28px;
				margin-top: 95px;
				text-indent: -10000px;
				position: absolute;
				cursor: pointer;
			}

			#leftControl {
				top: 0;
				left: 0;
				background: transparent url(../img/leftarrow.png) no-repeat 0 0;
			}
			#leftControl2 {
				top: 0;
				left: 0;
				background: transparent url(../img/leftarrow.png) no-repeat 0 0;
			}
			#leftControl3 {
				top: 0;
				left: 0;
				background: transparent url(../img/leftarrow.png) no-repeat 0 0;
			}
			#leftControl4 {
				top: 0;
				left: 0;
				background: transparent url(../img/leftarrow.png) no-repeat 0 0;
			}

			#rightControl {
				top: 0;
				right: 0;
				background: transparent url(../img/rightarrow.png) no-repeat 0 0;
			}
			#rightControl2 {
				top: 0;
				right: 0;
				background: transparent url(../img/rightarrow.png) no-repeat 0 0;
			}
			#rightControl3 {
				top: 0;
				right: 0;
				background: transparent url(../img/rightarrow.png) no-repeat 0 0;
			}
			#rightControl4 {
				top: 0;
				right: 0;
				background: transparent url(../img/rightarrow.png) no-repeat 0 0;
			}

			div#webwork { /* Web work ----------------------------------------------- */
				background-color: rgba(43, 120, 128, 0.3);
				height: 225px;
				width: 890px;
				margin-left: auto;
				margin-right: auto;
				border-radius: 15px;
				margin-bottom: 100px; /* space between sections */
				overflow: auto;
				position: relative;
			}
				h3.web {
					background: url("../img/webwork.png") right center no-repeat;
					padding-right: 40px;
					margin-bottom: 10px;
					margin-top: 10px;
				}
				div#webthumbs {
					height: 220px;
					width: 780px;
					padding-left: 0px;
					padding-right: -30px;
					margin-left: 35px;
					margin-top: 0px;
					display: inline-block;
					overflow: auto;
					position: relative;
				}
					.webul{
						list-style-type: none;
						margin: 0;
						padding: 0;
					}
						.webli {
							display: inline;
						}
					.slide {
						margin-left: 0px;
					}
						.webimg {
							margin-left: 52px;
							margin-right: 0px;
							margin-top: 35px;
							border-radius: 10px;
						}
						

			div#grawork { /* Graphic work -------------------------------------------- */
				background-color: rgba(43, 120, 128, 0.3);
				height: 225px;
				width: 890px;
				margin-left: auto;
				margin-right: auto;
				border-radius: 15px;
				margin-bottom: 100px; /* space between sections */
				overflow: auto;
				position: relative;
			}
				h3.gra {
					background: url("../img/ghost2.png") right center no-repeat;
					padding-right: 40px;
					margin-bottom: 10px;
				}
				div#grathumbs {
					height: 220px;
					width: 780px;
					padding-left: 0px;
					padding-right: -30px;
					margin-left: 35px;
					margin-top: 0px;
					display: inline-block;
					overflow: auto;
					position: relative;
				}
					.graul{
						list-style-type: none;
						margin: 0;
						padding: 0;
					}
						.grali {
							display: inline;
						}
					.slide4 {
						margin-left: 0px;
					}
						.graimg {
							margin-left: 52px;
							margin-right: 0px;
							margin-top: 35px;
							border-radius: 10px;
						}


			div#artwork { /* Art work -------------------------------------------- */
				background-color: rgba(43, 120, 128, 0.3);
				height: 225px;
				width: 890px;
				margin-left: auto;
				margin-right: auto;
				border-radius: 15px;
				margin-bottom: 100px; /* space between sections */
				overflow: auto;
				position: relative;
			}
				h3.art {
					background: url("../img/artwork.png") right center no-repeat;
					padding-right: 40px;
					margin-bottom: 10px;
				}
				div#artthumbs {
					height: 220px;
					width: 780px;
					padding-left: 0px;
					padding-right: -30px;
					margin-left: 35px;
					margin-top: 0px;
					display: inline-block;
					overflow: auto;
					position: relative;
				}
					.artul{
						list-style-type: none;
						margin: 0;
						padding: 0;
					}
						.artli {
							display: inline;
						}
					.slide2 {
						margin-left: 0px;
					}
						.artimg {
							margin-left: 52px;
							margin-right: 0px;
							margin-top: 35px;
							border-radius: 10px;
						}
				

			/* Certificates and Awards -------------------------------------- */
			div#awards {
				background-color: rgba(43, 120, 128, 0.3);
				height: 225px;
				width: 890px;
				margin-left: auto;
				margin-right: auto;
				border-radius: 15px;
				margin-bottom: 100px; /* space between sections */
				overflow: auto;
				position: relative;
			}
				h3.award {
					background: url("../img/pacman2.png") right center no-repeat;
					padding-right: 40px;
					margin-bottom: 10px;
				}	
				div#awardthumbs {
					height: 220px;
					width: 780px;
					padding-left: 0px;
					padding-right: -30px;
					margin-left: 35px;
					margin-top: 0px;
					display: inline-block;
					overflow: auto;
					position: relative;
				}
					.awardul{
						list-style-type: none;
						margin: 0;
						padding: 0;
					}
						.awardli {
							display: inline;
						}
					.slide3 {
						margin-left: 0px;
					}
						.awardimg {
							margin-left: 52px;
							margin-right: 0px;
							margin-top: 35px;
							border-radius: 10px;
						}
					
					
			/* lightbox ---------------------------------- */	
			.lbOverlay{
				height: 100%;
				width: 100%;
				position: fixed;
				top: 0px;
				left: 0px;
				z-index: 100;
				display: none;
				background-color: rgba(0, 0, 0, 0.5);
			}
				.hidden {
					display: none;
				}
				.lbContent {
					position: fixed;
					z-index: 101;
					background-color: #EEEEEE;
				}
			.lbTrigger {
				float: left;
				width: 100%;
			}
			.trigger {
				border: none;
				text-decoration: none;
			}
				
				.lbinfo { /* Lightbox/art information ---------------- */
					list-style-type: none;
				}
					.popimg {
						height: 600px;
						padding: 10px;
						border: none;
						box-shadow: none;
					}
					.lbartimg {
					}
					.artname {
						font-family: 'League Gothic';
						color: #2B7880;
						font-size: 30px;
						font-weight: bold;
						margin: 10px;
					}
					.artdesc {
						font-family: 'Open Sans', Arial, Helvetica, sans-serif;
						color: #2B7880;
						font-size: 16px;
						margin: 10px;
						width: 400px;
					}
				
		
		
		/* About Me elements ---------------------------------------- */
		div#aboutme{
			margin-bottom: 400px;
		}
			h2.about{ 
				background: url("../img/aboutme.png") right center no-repeat;
				padding-right: 40px;
			}
			div#about { /* text to left of image */
				margin-left: 50px;
			}
				#aboutpic {
					float: right;
					margin: 20px;
					border-radius: 15px;
				}
				.aboutp {
					font-family: 'Open Sans', Arial, Helvetica, sans-serif;
					color: #2B7880;
					font-size: 16px;
					margin-left: 50px;
					margin-right: 50px;
				}
		
		
		
		/* Contact elements ------------------------------------- */
		div#contact {
			margin-bottom: 400px;
		}
			h2.contact {
				background: url("../img/contact.png") right center no-repeat;
				padding-right: 40px;
			}
			p#contact { /* form text */
				font-family: 'Open Sans', Arial, Helvetica, sans-serif;
				color: #2B7880;
				font-size: 14px;
				margin-left: 270px;
				margin-right: 50px;
			}
			#contactthumbs {
				height: 120px;
				width: 415px;
				margin: 50px auto 0 auto;
			}
			#contactthumbs li {
				display: inline-block;
				margin: 10px 5px;
			}
			.contthumbs {
				border-radius: 65px;
				margin-left: 5px;
				margin-right: 5px;
			}
		


		/* footer elements ----------------------------------------- */
		div#footer {
			margin-bottom: 16px;
		}
			div#foottext {
				float: right;
				margin-right: -50px;
			}
			.footerp {
				font-family: 'Open Sans', Arial, Helvetica, sans-serif;
				color: #2B7880;
				font-size: 14px;
				text-align: right;
				margin-top: 0px;
				margin-bottom: 0px;
				margin-right: 50px;	
			}
			div#icon {
				float: right;
				margin-right: 50px;
			}