div#container {
	width: 1000px;
	height: 1000px;
	background: #FFCCCC;
	margin-left: auto;
	margin-right: auto; 
	border: 5px dashed;
	border-color: #99FFCC;
}
	
	div#header {
		height: 100px;
		width: 998px;
	}
		h1 {
			font-family: verdana;
			font-size: 48px;
			color: #660066;
			margin: 0;
			padding: 0;
		}
		
	div#form_container {
		height: 500px;
		width: 750px;
		background: #FFCCFF;
		padding: 10px;
		margin-left: auto;
		margin-right: auto; 
		border: 5px dashed;
		border-color: #FFFFCC;
	}
		h2, h3 {
			font-family: verdana;
			margin-top: 0;
			padding-top: 0;
			color: #660066;
		}
		ul li {
			font-family: verdana;
			list-style: none;
			padding-bottom: 1em;
		}
		span[id*='valid'] {
			display: inline-block;
			height: 26px;
			width: 26px;
		}
		span[id*='error'], .error {
			height: 26px;
			width: 26px;
		}