@charset "utf-8";
/* CSS Document */

			/* Main container */
			div#mainContainer {
				width: 798px;
				height: 1050px;
				margin-top: 10px;
				margin-bottom: 10px;
				margin-left: auto;
				margin-right: auto; 
				border: 1px solid #000000;
			}
			
			
			
				/* Top banner */
				div#top {
					width: 797px;
					height: 88px;
					float: left;
					border: 1px solid #000000; 
				}
				
					div#top img.logo {
						float: left;
					}
					div#top img.topad {
						float: right;
					}
					
					
					
				/* Everything under top banner */	
				div#bottom {
					width: 798px;
					height: 710px;
				}
				
					/* Left side column */
					div#leftcolumn {
						width: 178px;
						height: 675px;
						float: left;
					}
					
						div#leftcolumn li.list{
							list-style-type: none;
							background-color: #eedfae;
							border-bottom: 1px solid #000000;
							padding-top: 10px;
							padding-bottom: 10px;
							padding-left: 10px;
						}
						div#leftcolumn li.list2{
							list-style-type: none;
							background-color: #DDDDDD;
							border-bottom: 1px solid #000000;
							padding-top: 10px;
							padding-bottom: 10px;
							padding-left: 10px;
						}
						div#leftcolumn ul.list{
							border: 1px solid #000000;
						}
						
						div#leftcolumn a.listlink{
							color: #000000;
							font-weight: bold;
							font-size: 13px;
							font-family: Verdana, sans-serif;
						}
						
						
						
						
						div#adContainer {
							width: 90px;
							height: 90px;
							padding: 0px;
							margin-left: auto;
							margin-right: auto; 
						}
						div#adContainer ul {
							list-style: none;
						}
						div#adContainer ul li {
							float: left;
						}
						div#adContainer a {
							color: #D2A800;
							float: left;
							width: 80px;
							height: 80px;
							padding-top: 10px;
							padding-bottom: 20px;
						}
						div#cssContainer {
							border: 1px dotted #000000;
							background-color: #DDDDDD;
							padding: 10px;
						}
						div#cssContainer p {
								font-family: Verdana, sans-serif;
								font-size: 10px;
								font-weight: normal;
								color: #666666;
						}
						



					/* Main content area - title banner */
					div#topmid {
						width: 618px;
						height: 204px;
						float: left;
						border: 1px solid #000000;
					}
					
					
					
					/* Main content area - actual information */
					div#bottommid {
						width: 618px;
						height: 382px;
						float: left;
					}
						div#bottommid a {
							color: #D2A800;
							font-family: Verdana, sans-serif;
							font-size: 10px;
						}
						div#bottommid h3 {
								font-family: Verdana, sans-serif;
								font-size: 15px;
								font-weight: bold;
								color: #000000;
								border-bottom: 1px dotted #666666;
								margin-top: 10px;
								margin-bottom: 10px;
								padding-left: 5px;
						}
						div#bottommid h4 {
							font-family: Verdana, sans-serif;
							font-size: 13px;
							font-weight: bold;
							color: #333333;
							padding-left: 5px;
							margin-bottom: 5px;
							line-height: 15px;
						}
						div#bottommid p {
								font-family: Verdana, sans-serif;
								font-size: 10px;
								font-weight: normal;
								color: #666666;
								line-height: 15px;
								padding-left: 25px;
								padding-right: 25px;
								margin-top: 2px;
								margin-bottom: 20px;
						}
						
						/* Left side info column */
						div#bottommidleft {
							width: 300px;
							height: 750px;
							float: left;
							border-right: 1px dotted #666666;
						}
						div#bottommidleft img.patents {
							height: 366px;
							width: 233px;
						}
						
						/* Right side info column */
						div#bottommidright {
							height: 750px; 
							width: 316px; 
							float: left;
						}	
						div#bottommidright img.mj {
							height: 200px;
							width: 267px;
						}
						div#bottommidright p.funding{
							margin-top: -15px;
						}
						div#bottommidright img.strongdecade {
							height: 131px;
							width: 131px;
						}
						div#bottommidright img.about {
							height: 306px;
							width: 263px;
						}