@charset "utf-8";
/* CSS Document */

body{
	background: #B1C2B3;
}

p{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #778691;
}

#header{
	width: 900px;
	border: 3px solid #F5FCD0;
	background: #E3DB9A;
	margin: 0 auto;
	margin-bottom: 20px;
	padding: 20px;
	box-shadow: 10px 10px 5px #888888;
}
	h1{
		color: #778691;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		text-shadow: 2px 2px 5px #888888;
		text-align: center;
	}
	.tagline{
		font-family: Verdana, Arial, Helvetica, sans-serif;
		color: #778691;
		font-style: italic;
		text-align: center;
	}
	
#zipcodes {
	width: 900px;
	border: 3px solid #E3DB9A;
	background: #F5FCD0;
	margin: 0 auto;
	padding: 20px;
	box-shadow: 10px 10px 5px #888888;
}
	#zipcode{
		margin: 0 auto;
	}
		#zip{
			background: #B1C2B3;
			font-family: Verdana, Arial, Helvetica, sans-serif;
			border: 2px solid #E3DB9A;
			color: #778691;
			height: 25px;
			text-align: right;
		}
		#submit{
			background: #B1C2B3;
			border: 2px solid #E3DB9A;
			font-family: Verdana, Arial, Helvetica, sans-serif;
			color: #778691;
			height: 30px;
			width: 80px;
		}
	ul{
		color: #778691;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		list-style-type: square;
	}

#current{
	border: 3px solid #E3DB9A;
	background: #F5FCD0;
	width: 900px;
	margin: 0 auto;
	padding: 20px;
	box-shadow: 10px 10px 5px #888888;
}	
	h2{
		color: #778691;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		text-shadow: 1px 1px 4px #888888;
		margin-left: 30px;
		margin-right: 30px;
	}
	hr{
		border-width: 0;
		color: #E3DB9A;
		background-color: #E3DB9A;
		height: 3px;
	}
	#current img{
		border: 3px solid #E3DB9A;
		box-shadow: 10px 10px 5px #888888;
	}
	.source{
		text-align: right;
		margin-right: 50px;
	}
	#ing{
		margin-left: 70px;
	}
	
#footer{
	width: 900px;
	border: 3px solid #F5FCD0;
	background: #E3DB9A;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 20px;
	box-shadow: 10px 10px 5px #888888;
}	
	.footer{
		color: #778691;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		line-height: 5px;
		text-align: right;
	}